/* @import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Truculenta&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');



a {
    text-decoration: none;
    color: black;
}

p {
    padding: 20px;
}

small {
    font-size: medium;
}

body {
    /* font-family: 'Fraunces', serif; */
    /* font-family: 'Truculenta', sans-serif; */
    font-family: 'Crete Round', serif;
}

header {
    top: 0;
    padding: 20px 0;
    margin:auto;
    width: 100%;
    height: 64px;
    font-size: x-large;
    text-align: center;
}

footer {
    position: absolute;
    background-color: gold;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: medium;
    padding: 20px 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}


#container {
    background:rgb(198, 240, 253);
    background-color: gold;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row;
    justify-content:center;
    height: 5px;
    font-size: x-large;   
}

#container > div {
    box-sizing: border-box;
    padding: 40px 20px;
    width: 70vw;
    text-align: center;
}


#time {
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    color: gray;
    padding: 5px;
}



